.flag-wrapper {
  height: 9.25rem;
}

.flag-wrapper .colorbox {
  @apply opacity-0;
}

.flag-wrapper li:first-child .colorbox,
.flag-wrapper.focused .colorbox {
  @apply delay-200 opacity-100;
}

.flag-wrapper li:nth-child(2) .colorbox {
  transition-delay: .4s;
}

.flag-wrapper li:nth-child(3) .colorbox {
  transition-delay: .6s;
}

.flag-wrapper.focused {
  @apply overflow-visible;
}

.flag-wrapper.focused > * {
  @apply transform -translate-y-16;
}

.flag-wrapper.focused > .shadow {
  box-shadow: 0 -10px 50px -5px rgba(0, 0, 0, 0.25);
}
